@use "../../Sass/var" as color;

.home {
  position: relative;
  .refresh {
    position: fixed;
    background-color: color.$primary;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 20px;
    bottom: 5%;
    right: 5%;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
  }
  .dashboard-link {
    position: fixed;
    background-color: color.$primary;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 20px;
    bottom: 15%;
    right: 2%;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    z-index: 1;
  }
  .logout-link {
    position: fixed;
    background-color: rgb(158, 38, 38);
    padding: 10px 20px;
    color: #fff;
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 20px;
    bottom: 25%;
    outline: none;
    border: none;
    right: 1%;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    z-index: 1;
  }
  .first {
    min-height: 50vh;
    background-color: color.$primary;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #fff;
    flex-direction: column;
    text-align: center;
    padding: 0px 15px;
    h2 {
      font-size: 35px;
      color: #ddd;
      @media (max-width: 768px) {
        font-size: 25px;
      }
    }
    h1 {
      font-size: 45px;
      @media (max-width: 768px) {
        font-size: 35px;
      }
      @media (max-width: 768px) {
        font-size: 25px;
      }
    }
    img {
      height: 80px;
      @media (max-width: 768px) {
        height: 90px;
      }
    }
    .contact {
      display: flex;
      align-items: center;
      gap: 40px;
      font-size: 20px;
      @media (max-width: 768px) {
        font-size: 15px;
      }
      @media (max-width: 500px) {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
  .matka-live {
    padding: 20px 0px;
    text-align: center;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    .head-m {
      display: flex;
      align-items: center;
      gap: 10px;
      h1,
      h4 {
        font-size: 25px;
      }
      span {
        padding: 7px 10px;
        background-color: #fff;
        border-radius: 10px;
        animation: lightPulse 3s infinite alternate;
      }
    }
  }
  .notice {
    background-color: #364167;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    .notice-box {
      border: 2px solid #f37470;
      border-radius: 20px;
      width: 90%;
      height: 350px;
      .box-head-notice {
        background-color: #f5f5f5;
        border-radius: 20px 20px 0px 0px;
        padding: 8px 0px;
        text-align: center;
      }
      .notice-text {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 18px;
        color: #fff;
      }
    }
  }
  .live-tickets {
    min-height: 50vh;
    background-color: color.$secondary;
    padding: 30px 10px;
    text-align: center;
    .t-head {
      color: #fff;
      font-size: 38px;
      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
    .live-ticket-box {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 40px;
      gap: 20px;
      flex-direction: column;
    }
  }
  .all-tickets {
    min-height: 50vh;
    background-color: color.$third;
    padding: 30px 10px;
    text-align: center;
    .t-head {
      color: #000;
      font-size: 38px;
    }
    .all-ticket-box {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 40px;
      gap: 20px;
      flex-direction: column;
    }
  }
  .free-game-zone {
    background-color: #f37470;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h3 {
      padding: 20px 0px;
      background-color: #364167;
      border-radius: 20px;
      color: #fff;
      text-align: center;
    }
    .heading-zone {
      background-color: #364167;
      padding: 20px 0px;
      background-color: #364167;
      border-radius: 20px;
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .game-zone-games {
      display: flex;
      align-items: start;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
      .z-game {
        width: 45%;
        border: 3px solid #03f761;
        border-radius: 20px;
        padding: 10px;
        h2 {
          padding: 10px;
          background-color: #03f761;
          border-radius: 20px;
          color: #fff;
          text-align: center;
        }
        .z-data {
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 10px;
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@keyframes lightPulse {
  0% {
    background-color: #fd261f; /* soft yellow */
    box-shadow: 0 0 10px #fd261f;
  }
  50% {
    background-color: #0167cc; /* soft blue */
    box-shadow: 0 0 15px #0167cc;
  }
  100% {
    background-color: #03f761; /* soft green */
    box-shadow: 0 0 20px #03f761;
  }
}
@keyframes lightPulse2 {
  0% {
    background-color: #fa4f49; /* soft yellow */
    box-shadow: 0 0 10px #fa4f49;
  }
  50% {
    background-color: #3f9fff; /* soft blue */
    box-shadow: 0 0 15px #3f9fff;
  }
  100% {
    background-color: #46f88b; /* soft green */
    box-shadow: 0 0 20px #46f88b;
  }
}
